.file-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: auto;
    gap: 1em;
    position: relative;
    margin-top: 1em;
}
.file {
    width: 200px;
    word-break: break-word;
    text-align: center;
    position: relative;
}
.file-image {
    margin: auto;
    display: block;
    width: 5em;
    height: 5em;
}

.file-options {
    position: absolute;
    top: 0;
    right: 0;
}
