<ul class="menu">
    <li class="sidebar-item">
        <NavLink href="/" class='sidebar-link blazor-link' Match="NavLinkMatch.All">
            <i class="fa-solid fa-gauge"></i>
            <span>Dashboard</span>
        </NavLink>
    </li>


    <li class="sidebar-item">
        <NavLink href="/Admin/FormEditor" class='sidebar-link blazor-link' Match="NavLinkMatch.All">
            <i class="fa-solid fa-gauge"></i>
            <span>FormEditor</span>
        </NavLink>
    </li>
</ul>
