@page "/Admin/Entries"
@page "/Admin/Entries/Page/{Page:int}"
@attribute [Authorize(Roles = Roles.EDIT_ENTRIES)]
@inject IStringLocalizer<FormEntries> localizer
<PageTitle>@localizer["PAGETITLE"]</PageTitle>
<h3>@localizer["PAGETITLE"]</h3>

<EntryList DefaultFilter="Filter"
           NavUrl="/Admin/Entries/Page/"
           BaseUrl="/Admin/Entries"
           CurrentPage="Page" />