:root {
    --bb-sidebar-collapsed-width: -100px;
    --bb-sidebar-top-row-background-color: #EAB700;
    --bb-sidebar-top-row-border-color: #EAB700;
    --bb-sidebar-title-badge-text-color: #EAB700;
    --bb-sidebar-nav-item-background-hover-color: #eeeded;
    --bb-sidebar-nav-item-text-active-color: #000;
    --bb-sidebar-nav-item-text-hover-color: #000;
}

.bb-sidebar.collapsed {
    display: none !important;
}

footer {
    display: flex;
    justify-content: space-between;
}

main {
    background-color: rgb(242, 247, 255);
    display: flex;
    flex-direction: column;
}

article.content {
    flex: 1;
}

.toolbar {
    text-align: right;
    padding-bottom: 0.5em;
}


/* Fixte floating input groups */
.input-group-append > :first-child {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

/* Minimum height of textareas */
textarea {
    min-height: 10rem !important;
}

/* Override bootstrap */
.card {
    border: none;
    margin-bottom: 2.2rem;
}

.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 1px;
    --bs-card-border-color: rgba(0,0,0,.125);
    --bs-card-border-radius: 0.5rem;
    --bs-card-box-shadow: -8px 12px 18px 0 rgba(25,42,70,.13);
    --bs-card-inner-border-radius: calc(0.7rem - 1px);
    --bs-card-cap-padding-y: 1rem;
    --bs-card-cap-padding-x: 1.5rem;
    --bs-card-cap-bg: #fff;
    --bs-card-cap-color:;
    --bs-card-height:;
    --bs-card-color:;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: var(--bs-card-bg);
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    display: flex;
    flex-direction: column;
    height: var(--bs-card-height);
    min-width: 0;
    position: relative;
}

.card-header {
    border: none !important;
}

.card-header h1,
.card-header h2,
.card-header h3,
.card-header h4,
.card-header h5,
.card-header h6 {
    margin-bottom: 0;
}

.text-right {
    text-align: right;
}

/* Blazor Specific */
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.validation-message {
    color: red;
    font-weight: bold;
}

/* Autocomplete search */
.autocomplete-dropdown {
    max-height: 10rem;
    overflow-y: scroll;
    min-height: 2em;
    border: 1px solid #dce7f1;
    border-radius: .25rem;
    list-style: none;
    padding: 0;
}

    .autocomplete-dropdown > li {
        padding: .25em;
    }

        .autocomplete-dropdown > li > button {
            background: red;
            width: 100%;
            background: transparent;
            border: none;
            text-align: left;
        }

            .autocomplete-dropdown > li > button:is(:hover) {
                background-color: #dce7f1;
            }



.autocomplete-search {
    height: 150px;
    overflow: auto;
    min-height: 20px;
    padding: .25em;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #dce7f1;
    border-radius: .25rem;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.autocomplete-item-wrapper i {
    cursor: pointer;
}


/* Shapes */
.bg-line.blue {
    background: repeating-linear-gradient(-55deg,rgba(255,255,255,0) .8px,#3f78e0 1.6px,#3f78e0 3px,rgba(255,255,255,0) 3.8px,rgba(255,255,255,0) 10px);
}

.bg-dot, .bg-line {
    opacity: .5;
}

.h-18 {
    height: 12rem !important;
}

.shape {
    border-top-left-radius: .7rem;
    border-top-right-radius: .7rem;
    background-color: #fff;
}