@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager
@inject NotificationService notificationService
@inject AuthService authService
@inject IStringLocalizer<NotificationCenter> localizer


@if (Notifications.Count is 0)
{
    <p>@localizer["NO_NEW_NOTIFICATIONS"]</p>
}
else
{
    <div class="d-flex flex-column gap-2">
        @foreach (var item in Notifications)
        {
            <NotificationItem Item="item"
                              OnDelete="async (item) => await DeleteAsync(item)" />
        }
    </div>
}

