@if (IsCentered)
{
    <div class="d-block text-center">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
}
else
{
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
}


@code {
    [Parameter] public bool IsCentered { get; set; }
}