<ul class="menu">
    <li class="sidebar-item">
        <NavLink href="/" class='sidebar-link blazor-link' Match="NavLinkMatch.All">
            <i class="fa-solid fa-gauge"></i>
            <span>Dashboard</span>
        </NavLink>
    </li>

    <AuthorizeView Roles="@($"{Roles.EDIT_FORMS}, {Roles.EDIT_ENTRIES}, {Roles.EDIT_USERS}")">
        <Authorized>
            <li class="sidebar-title">Administration</li>
        </Authorized>
    </AuthorizeView>
    <AuthorizeView Roles="@(Roles.EDIT_USERS)">
        <Authorized>
            <li class="sidebar-item">
                <NavLink href="/Admin/Users" class='sidebar-link blazor-link' Match="NavLinkMatch.All">
                    <i class="fa-solid fa-users"></i>
                    <span>Benutzerverwaltung</span>
                </NavLink>
            </li>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="@(Roles.EDIT_FORMS)">
        <Authorized>
            <li class="sidebar-item">
                <NavLink href="/Admin/Forms" class='sidebar-link blazor-link' Match="NavLinkMatch.All">
                    <i class="fa-solid fa-file-pen"></i>
                    <span>Formularverwaltung</span>
                </NavLink>
            </li>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="@(Roles.EDIT_ENTRIES)">
        <Authorized>
            <li class="sidebar-item">
                <NavLink href="/Admin/Entries" class='sidebar-link blazor-link' Match="NavLinkMatch.All">
                    <i class="fa-solid fa-folder-open"></i>
                    <span>Formulareinträge</span>
                </NavLink>
            </li>
        </Authorized>
    </AuthorizeView>



    <li class="sidebar-title">Account</li>
    <AuthorizeView>
        <Authorized>

            <li class="sidebar-item">
                <NavLink href="/Account/Entries" class='sidebar-link blazor-link' Match="NavLinkMatch.All">
                    <i class="fa-solid fa-pen"></i>
                    <span>Meine Formulare</span>
                </NavLink>
            </li>

            <li class="sidebar-item">
                <NavLink href="/Account/Assigned" class='sidebar-link blazor-link' Match="NavLinkMatch.All">
                    <i class="fa-solid fa-check-double"></i>
                    <span>Mir zugeordnet</span>
                </NavLink>
            </li>

            <li class="sidebar-item">
                <NavLink href="/Account/Details" class='sidebar-link blazor-link' Match="NavLinkMatch.All">
                    <i class="fa-solid fa-user"></i>
                    <span>Accountdetails</span>
                </NavLink>
            </li>

            <li class="sidebar-item">
                <form method="post" action="/Account/Logout">
                    <button type="submit" class="btn btn-danger btn-block text-left sidebar-link logout-button">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span>Logout</span>
                    </button>
                </form>
            </li>
        </Authorized>
        <NotAuthorized>
            <li class="sidebar-item">
                <NavLink href="/Account/Login" class='sidebar-link blazor-link' Match="NavLinkMatch.All">
                    <i class="fa-solid fa-user"></i>
                    <span>Login</span>
                </NavLink>
            </li>
        </NotAuthorized>
    </AuthorizeView>
</ul>
