* {
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    position: running(header);
}

#footer {
    position: running(footer);
    border-top: 1px solid gray;
}

@page {
    margin-top: 3.9433cm; /*DIN NORM */
    margin-left: 1cm; /* DIN NORM */
    margin-right: 1cm; /*DIN NORM */
    margin-bottom: 3.79cm; /*DIN ist 1.79cm, wir schlagen noch 2cm für unseren Footer drauf*/
}

.adress-zeile {
    width: 60mm; /* DIN NORM */
    height: 40mm; /* DIN NORM */
    margin-top: 10mm;
}

.impressum {
    width: 100%;
}

    .impressum td {
        padding: 1em;
        vertical-align: baseline;
        font-size: .6em;
    }

.nowrap {
    white-space: nowrap;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

.scholz-header {
    height: 20mm;
    display: table;
}

    .scholz-header > * {
        height: 15mm;
        display: table-cell;
        vertical-align: middle;
        padding-left: 3mm;
    }

.h-logo {
    padding-left: 0 !important;
    margin-top: 7.5mm;
}

    .h-logo img {
        height: 80px;
    }



.pages {
    display: block;
    font-size: .7em;
    text-align: right;
}

.page-number:before {
    content: counter(page);
}

.page-count:before {
    content: counter(pages);
}

@page {
    @top-center {
        content: element(header);
    }

    @bottom-center {
        content: element(footer);
    }
}

.scholz-header {
    min-height: 20mm;
    height: auto !important;
}

.rücksende-zeile {
    font-size: .75em;
    text-decoration: underline;
    margin-top: 1.5mm;
}
