@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject AuthService authService
@using System.Runtime.InteropServices
@inject IStringLocalizer<MainLayout> localizer
<PageTitle>BlazorForms</PageTitle>


<div class="bb-page">

    <Sidebar @ref="_sidebar"
             ImageSrc="/assets/images/logo/sidebar_logo.png"
             Title="BlazorForms"
             BadgeText="@($"v{Program.GetVersion()}")"
             DataProvider="SidebarDataProvider" />


    <main>
        <article class="content px-4">
            <div class="py-2">
                <div class="d-none d-sm-block">
                    <Icon role="button" Name="IconName.List" @onclick="ToggleSidebar" Style="font-size: 1.35rem;" />
                </div>

                @Body
            </div>
        </article>

        <footer class="px-4 text-muted">
            <div class="text-right">
                <CultureSelector />
                2022 - @DateTime.Now.Year &copy; Marvin Klein
            </div>
        </footer>
    </main>
</div>










