@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject AuthService authService
@inject NotificationService notificationService
@using System.Runtime.InteropServices
@using BlazorForms.Components.Notifications
@inject IStringLocalizer<MainLayout> localizer
<PageTitle>BlazorForms</PageTitle>



<FluentLayout>
    <FluentHeader>

    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        @* <Sidebar @ref="_sidebar"
                 ImageSrc="/assets/images/logo/sidebar_logo.png"
                 Title="BlazorForms"
                 BadgeText="@($"v{Program.GetVersion()}")"
                 DataProvider="SidebarDataProvider" /> *@
                 <FluentBodyContent Class="body-content">
                     @Body
                 </FluentBodyContent>
    </FluentStack>
    <FluentFooter>

    </FluentFooter>
</FluentLayout>

<FluentToastProvider RemoveToastsOnNavigation="false" Position="ToastPosition.TopCenter" />






@* <Offcanvas @ref="_offcanvas"
           Title="@(localizer["NOTIFICATION_CENTER_TITLE"])">
    <BodyTemplate>
        <NotificationCenter Notifications="_notifications" />
    </BodyTemplate>
</Offcanvas> *@


<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>








