@media(min-width: 1100px) {
    .page-title {
        position: absolute;
    }
}

.status {
    font-size: 1rem;
    background-color: #eee;
    padding: 1em;
    border-radius: 1.15rem;
}


.blazorforms-table {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1em 0;
    justify-content: center;
}

.blazor-forms-table-item {
    background-color: #ffffff;
    padding: 1em;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    gap: 1em;
}

@media(min-width: 1000px) {
    .blazor-forms-table-item {
        flex-direction: row;
    }
}

@media(max-width: 1000px) {
    .blazor-forms-table-item {
        flex: 1;
    }
}

.upload-wrapper {
    position: relative;
    padding: .5em;
    border-radius: .375rem;
    font-weight: bold;
    background-color: var(--bs-dark);
}


.upload-label {
    padding: 1em;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    display: block;
    color: #fff;
    top: calc(50% - 1rem - 1.5em / 2);
    width: 100%;
    font-size: 1rem;
}
