@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager
@inject NotificationCenterService notificationCenterService
@inject AuthService authService
@inject IStringLocalizer<NotificationCenter> localizer

@if (notificationCenterService.CountNotifications is 0)
{
    <p>@localizer["NO_NEW_NOTIFICATIONS"]</p>
}
else
{
    <div class="d-flex flex-column gap-2">
        @foreach (var item in notificationCenterService.Notifications)
        {
            <NotificationItem Item="item"
                              OnDelete="(item) => notificationCenterService.Notifications.Remove(item)" />
        }
    </div>
}