.list {
    display: flex;
    padding: 1em;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: var(--fill-color);
    color: var(--neutral-foreground-rest);
    border: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-layer-rest);
    border-radius: calc(var(--layer-corner-radius) * 1px);
    box-shadow: var(--elevation-shadow-card-rest);
}

.list-details {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    flex: 1;
    gap: 2rem; /* This adds space between the items */
}

.list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

    .list-item label {
        font-weight: bold !important;
        font-variation-settings: "wght" 800, "opsz" 10.5;
    }

fluent-text-input {
    width: 100%;
}

.fluent-input-label {
    margin-bottom: calc(var(--design-unit) * 1px);
}

.fluent-control {
    appearance: none;
    color: inherit;
    background: transparent;
    border: 0px;
    height: calc(100% - 4px);
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 calc(var(--design-unit) * 2px + 1px);
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    position: relative;
    color: inherit;
    border: calc(var(--stroke-width) * 1px) solid transparent;
    border-radius: calc(var(--control-corner-radius) * 1px);
    height: calc((var(--base-height-multiplier) + var(--density)) * var(--design-unit) * 1px);
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background: padding-box linear-gradient(var(--neutral-fill-input-rest),var(--neutral-fill-input-rest)),border-box var(--neutral-stroke-input-rest);
}

.nav-link {
    font: var(--fontWeightRegular) var(--fontSizeBase300) / var(--lineHeightBase300) var(--fontFamilyBase);
    display: block;
    text-decoration: none;
    border-radius: var(--borderRadiusMedium);
    background-color: var(--colorSubtleBackground);
    color: var(--colorNeutralForeground2);
    padding-block: 10px;
    padding-inline: 10px;
}

    .nav-link.active {
        background-color: var(--colorSubtleBackgroundSelected);
        color: var(--colorNeutralForeground2Selected);
    }

    .nav-link:hover {
        background-color: var(--colorSubtleBackgroundHover);
    }
