:root {
    --ck-color-base-background: var(--colorNeutralBackground2) !important;
    --ck-color-text: var(--colorNeutralForeground2) !important;
    --ck-color-base-border: var(--colorNeutralStrokeAccessible) !important;
    --ck-color-button-default-hover-background: var(--colorNeutralBackground3) !important;
    --ck-color-split-button-hover-background: var(--colorNeutralBackground3) !important;
    --ck-color-button-default-active-background: var(--colorNeutralBackground3) !important;
    --ck-color-button-on-hover-background: var(--colorNeutralBackground3) !important;
    --ck-color-button-on-active-background: var(--colorNeutralBackground3) !important;
    --ck-color-list-button-on-background: var(--colorNeutralBackground3) !important;
    --ck-color-list-button-on-text: var(--colorNeutralForeground2) !important;
}

.ck-editor {
    padding-top: var(--spacingVerticalXXS) !important;
}

.ck-content {
    min-height: 300px;
}

.list {
    display: flex;
    padding: 1em;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: var(--colorNeutralBackground1);
    color: var(--colorNeutralForeground1);
    border: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
    border-radius: var(--borderRadiusMedium);
    box-shadow: var(--elevation-shadow-card-rest);
}

.list-details {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    flex: 1;
    gap: 2rem; /* This adds space between the items */
}

.list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

    .list-item label {
        font-weight: bold !important;
        font-variation-settings: "wght" 800, "opsz" 10.5;
    }

fluent-text-input, fluent-field, fluent-dropdown, fluent-textarea {
    width: 100%;
    max-width: unset !important;
}

.input-wrapper {
    position: relative;
    display: block;
}

    .input-wrapper:focus-within::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background: var(--colorCompoundBrandStroke);
        border-radius: 10px;
        transition: height 0.2s, background 0.2s;
    }

.fluent-control {
    background-color: transparent;
    color: inherit;
    padding: var(--spacingHorizontalS);
    border: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
    border-radius: var(--borderRadiusMedium);
    font-family: var(--fontFamilyBase);
    font-weight: var(--fontWeightRegular);
    font-size: var(--fontSizeBase300);
    width: 100%;
}

    .fluent-control:focus-within {
        outline: 0;
    }

    .fluent-control::placeholder {
        color: var(--colorNeutralForeground4);
    }


.nav-link {
    font: var(--fontWeightRegular) var(--fontSizeBase300) / var(--lineHeightBase300) var(--fontFamilyBase);
    display: block;
    text-decoration: none;
    border-radius: var(--borderRadiusMedium);
    background-color: var(--colorSubtleBackground);
    color: var(--colorNeutralForeground2);
    padding-block: 10px;
    padding-inline: 10px;
}

    .nav-link.active {
        background-color: var(--colorSubtleBackgroundSelected);
        color: var(--colorNeutralForeground2Selected);
    }

    .nav-link:hover {
        background-color: var(--colorSubtleBackgroundHover);
    }

.fluent-label {
    font-family: var(--fontFamilyBase);
    font-size: var(--fontSizeBase300);
    font-weight: var(--fontWeightRegular);
    line-height: var(--lineHeightBase300);
    margin-bottom: var(--spacingVerticalXXS);
}
