:root {
    --base-padding: .5em;
    --form-editor-border-radius: .5em;
}

.form-editor {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.form-editor-wrapper {
    background-color: var(--neutral-layer-2);
    flex: 1;
}

.form-row {
    border: 1px dashed red;
    border-radius: var(--form-editor-border-radius);
    background-color: var(--neutral-layer-floating);
    padding: var(--base-padding);
    display: flex;
    gap: var(--base-padding);
}

.form-column {
    flex: 1;
    border: 2px dashed orange;
    border-radius: var(--form-editor-border-radius);
    min-height: 5em;
    padding: var(--base-padding);
}

.empty-zone {
    width: 100%;
    min-height: 50px;
    background-color: yellow;
    height: 100%;
}

.form-element {
    border: 1px solid green;
    border-radius: var(--form-editor-border-radius);
    padding: var(--base-padding);
    display: flex;
    align-items: center
}

    .form-element span {
        flex: 1;
    }

.form-editor-flex {
    display: flex;
    flex-direction: column;
    gap: var(--base-padding);
}

.dropzone {
    width: 100%;
    height: 100%;
}

.form-editor-content {
    display: flex;
    flex-direction: column;
    gap: var(--base-padding);
    padding: var(--base-padding);
}

.form-editor-grid {
    display: grid;
    grid-template-columns: 7fr 1fr;
}

.toolbar-wrapper {
    background-color: var(--fill-color);
    text-align: center;
}

    .toolbar-wrapper h4 {
        padding-top: var(--base-padding);
    }

.toolbar-element {
    list-style: none;
    display: block;
}

    .toolbar-element > div {
        padding: calc(var(--base-padding) * 2);
        cursor: grab !important;
        background-color: var(--neutral-layer-4);
        
    }

#element-toolbar {
    padding: 0;
    margin: 0;
}
