:root {
    --base-padding: .5em;
}

.form-editor {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.form-editor-content {
    flex: 1;
    background-color: pink;
    display: flex;
    padding: var(--base-padding);
}

.form-editor-content > * {
    width: 100%;
}

.form-editor {
    color: #000 !important; /* Ignore themes for this demo */
}

.form-row {
    border: 1px dashed red;
    border-radius: .5em;
    background-color: #fff;
    padding: 1em;
    display: flex;
    gap: 1em;
}

.form-column {
    flex: 1;
    border: 2px dashed orange;
    border-radius: .5em;
    min-height: 5em;
    padding: .5rem;
}

.empty-zone {
    width: 100%;
    min-height: 50px;
    background-color: yellow;
    height: 100%;
}

.form-element {
    border: 1px solid green;
    border-radius: .5em;
    padding: 1rem;
}

.form-editor-flex {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}