@inject FormEntryStatusChangeService entryStatusService
<div class="table-responsive-md">
    <table class="@TableClass">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Status</th>
                <th>Benutzer</th>
                <th>Kommentar</th>
            </tr>
        </thead>
        <tbody>
            <Virtualize Items="History" Context="change">
                @{
                    var status_description = AppdatenService.Get<FormStatus>(change.StatusId)?.GetLocalization(CultureInfo.CurrentCulture);
                }
                <tr>
                    <td>@change.DateAdded</td>
                    <td>@status_description?.Name</td>
                    <td>@change.Username</td>
                    <td>@change.Comment</td>
                </tr>
            </Virtualize>



            @if (_isLoading)
            {
                <tr>
                    <td colspan="4" class="text-center">
                        <LoadingCircle IsCentered="true" />
                    </td>
                </tr>
            }
            else if (!History.Any())
            {
                <tr>
                    <td colspan="4" class="text-center">
                        Keine History gefunden.
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
