.file-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 1em;
    position: relative;
    margin-top: 1em;
    background-color: #fff;
    border-radius: 1.3rem;
    padding: 1em;
}
.file {
    word-break: break-word;
    text-align: center;
    position: relative;
}
.file-image {
    margin: auto;
    display: block;
    width: 5em;
    height: 5em;
}

.file-options {
    position: absolute;
    top: 0;
    right: 0;
}

.fs-5 {
    font-size: 5em !important;
}