@page "/Account/Entries"
@page "/Account/Entries/Page/{Page:int}"
@attribute [Authorize]
@inject FormEntryService formEntryService
@inject AuthService authService
@inherits BlazorFormsComponentBase
@inject IStringLocalizer<AccountEntries> localizer

<PageTitle>@localizer["PAGETITLE"]</PageTitle>

<h3>@localizer["PAGETITLE"]</h3>

<EntryList Filter="Filter"
           NavUrl="/Account/Entries/Page/"
           BaseUrl="Account/Entries/" />

