@page "/Account/Entries"
@page "/Account/Entries/Page/{Page:int}"
@inject FormEntryService formEntryService
@inject AuthService authService
@inherits BlazorFormsComponentBase
@inject IStringLocalizer<AccountEntries> localizer

<AuthorizeView>
    <Authorized>
        <PageTitle>@localizer["PAGETITLE"]</PageTitle>

        <h3>@localizer["PAGETITLE"]</h3>

        <EntryList DefaultFilter="Filter"
                   NavUrl="/Account/Entries/Page/"
                   BaseUrl="Account/Entries/"
                   CurrentPage="Page" />

    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>

