@page "/Account/Assigned"
@page "/Account/Assigned/{Page:int}"
@inject AuthService authService
@inherits BlazorFormsComponentBase
@inject IStringLocalizer<AssignedToMe> localizer

<AuthorizeView>
    <Authorized>
        <PageTitle>@localizer["PAGETITLE"]</PageTitle>

        <h3>@localizer["PAGETITLE"]</h3>

        <EntryList DefaultFilter="Filter"
                   NavUrl="/Account/Assigned/"
                   BaseUrl="Account/Assigned/" />

    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>