.rule {
    position: relative;
    padding: 1.75em .25em 1.75em .25em;
    border: 1px solid #e2dcdc;
    border-radius: 4px;
    margin-bottom: 1em;
}

.ruleset-wrapper {
    display: flex;
    gap: .5em;
}

    .ruleset-wrapper > * {
        flex: 1;
    }

.btn-delete-rule {
    position: absolute;
    top: -.75em;
    right: -.75em;
}


@media(max-width: 765px) {
    .ruleset-wrapper {
        flex-direction: column;
    }
}
