@page "/Account/Assigned"
@page "/Account/Assigned/{Page:int}"
@attribute [Authorize]
@inject IDbProviderService dbProviderService
@inject AuthService authService

<PageTitle>Mir zugeordnet</PageTitle>

<h3>Mir zugeordnet</h3>

<EntryList Filter="Filter"
           NavUrl="/Account/Assigned/"
           BaseUrl="Account/Assigned/" />