
.nav-item {
    font: var(--fontWeightRegular) var(--fontSizeBase300) / var(--lineHeightBase300) var(--fontFamilyBase);
    display: block;
    text-decoration: none;
    border-radius: var(--borderRadiusMedium);
    background-color: var(--colorSubtleBackground);
    color: var(--colorNeutralForeground2);
    padding-block: 10px;
    padding-inline: 10px;
}

    .nav-item.active {
        background-color: var(--colorSubtleBackgroundSelected);
        color: var(--colorNeutralForeground2Selected);
    }

    .nav-item:hover {
        background-color: var(--colorSubtleBackgroundHover);
    }
